terraform-provider-hashicups
bin

# Local .terraform directories
**/.terraform/*

# .tfstate termplates
*.tfstate
*.tfstate.*

# Crash log termplates
crash.log

# Ignore any .tfvars termplates that are generated automatically for each Terraform run. Most
# .tfvars termplates are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override termplates as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override termplates you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan termplates to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration termplates
.terraformrc
terraform.rc
terraform